<html>
 <head>
  <title>{{ title }}</title>
 </head>
 <body>
    <h1 id="main_header">{{header}}</h1>
    <p id ="main_paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed velit ut orci maximus lobortis eget id lectus. In at metus quis lacus fringilla sagittis. Nam volutpat non quam sit amet malesuada. Fusce varius, nibh a tincidunt porttitor, urna risus ultrices lectus, non accumsan tortor nulla quis ligula. Curabitur lacinia, mauris ac cursus hendrerit, odio elit interdum turpis, id ultrices libero dui et odio. Maecenas euismod nunc eu metus consequat dictum sed sit amet nibh. Maecenas a dui eget neque ultrices consectetur. 
    </p>
 </body>


</html>